.tagsListWrapper {
  display: grid;
  place-items: center;
  place-content: center;
  width: 100%;
  padding-top: 1rem;
  gap: 1rem;
  grid-template-columns: repeat(4, 1fr);

  @media screen and (max-width: 1180px) and (min-width: 876px) {
    grid-template-columns: repeat(3, 1fr);
  }
  @media screen and (max-width: 876px) and (min-width: 578px) {
    grid-template-columns: repeat(2, 1fr);
  }
  @media screen and (max-width: 578px) {
    grid-template-columns: repeat(1, 1fr);
  }

  .tagCardContainer {
    width: 17.5rem;
    // height: 20rem;
    border: 1px solid white;
    border-radius: 1rem;
    box-shadow: 0, 0, 0, 0.3;
    background-color: white;

    &-top {
      &-img {
        object-fit: cover;
        width: 100%;
        height: 12rem;
        aspect-ratio: 3.26 / 2;
        border-top-right-radius: 16px;
        border-top-left-radius: 16px;
      }
    }

    &-bottom {
      height: 7rem;
      width: 100%;
      padding: 0.75rem 1rem 1rem 1rem;

      &-title {
        // border: 1px solid red;
        display: block;
        color: black;
        font-size: 14px;
        font-weight: 600;
        height: 4rem;
        // line-height: 1.25;

        &.dark {
          color: white;
        }

        &:visited &:active {
          color: black;
        }
      }

      &-line {
        border-top: 1px solid rgba(0, 0, 0, 0.155);
        width: 96%;
        text-align: center;
        padding: 0.25rem 0;
        margin: 0 auto;

        &.dark {
          border-color: rgba(0, 0, 0, 0.3);
        }
      }

      &-date {
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        .video-date-title {
          color: rgba(38, 38, 38, 0.56);

          &.dark {
            color: white;
          }
        }

        .video-date {
          color: rgba(38, 38, 38, 0.56);

          &.dark {
            color: white;
          }
        }
      }
    }
  }
}
