.categorySliderItem {
  margin: 0 auto;
  align-self: center;

  .image {
    object-fit: cover;
    width: 100%;
    //height: 28.125rem;
    aspect-ratio: 1.76/1;
    object-fit: cover;

    @media screen and (max-width: 768px) {
      aspect-ratio: 1.76/1;
      object-fit: cover;
      height: auto;
    }
  }
  .catSlide-title-wrapper {
    width: 100%;
    // height: 60px;
    position: fixed;
    bottom: 0;
    padding: 0.2rem;
    box-sizing: border-box;
    color: white;
    text-decoration: none;
    flex-wrap: wrap;
    text-overflow: ellipsis;

    .title-mid {
      display: inline-block;
      width: 100%;
      padding: 0.5rem;
      background-color: rgba(0, 0, 0, 0.1);

      @media screen and (max-width: 768px) {
        display: none;
      }
    }
    .title-res {
      display: inline-block;
      width: 100%;
      padding: 0.5rem;
      font-size: 0.8rem;
      background-color: rgba(0, 0, 0, 0.15);
     // background-color: rgba(0, 0, 0, 0.15);

      @media screen and (min-width: 769px) {
        display: none;
      }
    }
  }
}
