.categorySkeleton {
    max-width: 1200px;
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
    //min-height: 82.6vh;
    gap: 1rem;
    // border: 1px solid red;

    @media screen and (max-width: 768px) {
      width: 100%;
      max-width: 768px;
    }
  
    &-top {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 15rem;
      flex-direction: row;
      gap: 1rem;
  
      @media screen and (max-width: 768px) {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        max-width: 768px;
        height: 45rem;
      }
      .skeleton-item {
        width: 24rem;
        height: 15rem;
  
        @media screen and (max-width: 768px) {
         display: flex;
         align-items: center;
         justify-content: center;
        }
      }
    }
    &-center {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 15rem;
      flex-direction: row;
      gap: 1rem;
      @media screen and (max-width: 768px) {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        max-width: 768px;
        height: 45rem;
      }
      .skeleton-item {
        width: 24rem;
        height: 15rem;
        
  
        @media screen and (max-width: 768px) {
          display: flex;
         align-items: center;
         justify-content: center;
        }
      }
    }
    &-bottom {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 15rem;
      flex-direction: row;
      gap: 1rem;
      @media screen and (max-width: 768px) {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        max-width: 768px;
        height: 45rem;
      }
      .skeleton-item {
        width: 24rem;
        height: 15rem;
  
        @media screen and (max-width: 768px) {
          display: flex;
          align-items: center;
          justify-content: center;
        }
      }
    }
  }
  