.categoryPageWrapper {
  display: flex;
  // align-items: center;
  //justify-content: center;
  flex-direction: column;
  width: 100%;
  max-width: 1202px;
  margin: 1rem auto;
  padding: 0.5rem;
  min-height: calc(100vh - 332px);

  &-top {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-bottom: 3rem;
    transition: var(--transition);
    display: grid;
    grid-template-columns: 66.25% 32.5%;
    gap: 1.25rem;
    padding-bottom: 1rem;

    @media screen and (min-width:851px) and (max-width:1200px) {
      margin-bottom: 2rem;
      grid-template-columns: 65% 31.25%;
    }


    @media screen and (max-width:900px) {
      display: flex;
      flex-direction: column;
      margin-bottom: 1rem;
      padding-left: 1rem 0;
      padding-bottom: 0;
      gap: .75rem;
    }

    &-slider {
      @media screen and (max-width:768px) {
        padding-bottom: 2rem;
      }
      .categorySlider {
        .dots-ul {
          display: flex;
          flex-direction: row;
          align-items: flex-start;
          &-li {
            &:first-child {
              border-bottom-left-radius: 40%;
              button {
                border-bottom-left-radius: 40%;
              }
              .slick-active {
                border-bottom-left-radius: 40%;
              }
             
            }
            &:last-child {
              button {
                 border-bottom-right-radius: 40%;
               }
               .slick-active {
                 border-bottom-right-radius: 40%;
               }
             }
          }
          li {
            color: #5c5c5d;
            width: 100%;
            //border: 1px solid #E8E8E8;
            // background-color: white;
            position: relative;
            display: flex;
            height: 27px;
            margin: 0;
            padding: 0;
            cursor: pointer;
            border: 0;


            button {
              width: 100%;
              border-radius: none;
              background-color: white;
              border: 1px solid #e8e8e8;
              font-size: 0.8rem;
              color: #5c5c5d;
              cursor: pointer;
            }
          }
          .slick-active {
            background-color: red;
            button {
              background-color: red;
              cursor: pointer;
              color: white;
            }
          }
        }
      }
    }
    &-ads {
      box-sizing: border-box;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      overflow: hidden;

      iframe {
        width: 320px;
        height: 260px;
        overflow: hidden;
        border: none;
      }
    }

    // .dots-ul {
    //   display: flex;
    //   flex-direction: row;
    //   align-items: flex-start;

    //   &-li {
    //     &:first-child {
    //       border-bottom-left-radius: 40%;
    //       button{
    //         border-bottom-left-radius: 40%;
    //       }
    //       .slick-active  {
    //         border-bottom-left-radius: 40%;
    //       }
    //     }
    //   }

    //   li {
    //     color: #5c5c5d;
    //     width: 100%;
    //     //border: 1px solid #E8E8E8;
    //    // background-color: white;
    //     position: relative;
    //     display: flex;
    //     height: 27px;
    //     margin: 0;
    //     padding: 0;
    //     cursor: pointer;
    //     border: 0;

    //     button {
    //       width: 100%;
    //       border-radius: none;
    //       background-color: white;
    //       border: 1px solid #e8e8e8;
    //       font-size: 1rem;
    //       color: #5c5c5d;
    //       cursor: pointer;
    //     }
    //     &:last-child {
    //       border-bottom-right-radius: 40%;
    //     }
    //   }

    //   .all-link {
    //     display: flex;
    //     align-items: center;
    //     justify-content: center;
    //     text-align: center;
    //     margin: 0 auto;
    //     color: black;
    //     width: 100%;
    //     height: 27px;
    //     background-color: white;
    //     border: 1px solid #e8e8e8;

    //     a {
    //       margin: 0 auto;
    //       text-align: center;
    //     }
    //     &:last-child {
    //       border-bottom-right-radius: 40%;
    //     }
    //   }
    //   .slick-active {
    //     background-color: red;
    //     button {
    //       background-color: red;
    //       cursor: pointer;
    //       color: white;
    //     }
    //   }
    // }
  }

  &_container {
    display: grid;
    grid-template-columns: 24% 24% 24% 24%;
    //place-content: center;
    gap: 1.5rem;

    .dark {
      background-color: #1f252b;
    }

    @media screen and (min-width: 860px) and (max-width: 1190px) {
      grid-template-columns: 32% 32% 32%;
      place-items: center;
    }

    @media  screen and (min-width:550px) and (max-width:859px) {
      grid-template-columns: 49% 49%;
      place-items: center;
    }


    @media screen and (max-width: 549px) {
      grid-template-columns: 100%;
      gap: 1.2rem;
      place-items: center;
      font-size: 1rem;
    }

  }
}
