.subHeadlineNewsCard {
  width: 17.5rem;
 // height: 20rem;
  border: 1px solid white;
  border-radius: 1rem;
  box-shadow: 0, 0, 0, 0.3;
  background-color: white;

  &.dark {
    background-color: var(--subBgColor);
    border-color: var(--subBgColor);
  }

  &-imageBox {
   // height: 11rem;
    .subHeadlineCard-img {
      aspect-ratio: 1.76/1;
      border-top-left-radius: 1rem;
      border-top-right-radius: 1rem;
    }
  }
  &-desBox {
    display: flex;
    flex-direction: column;

    &-center {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      height: 60%;
      padding: 0 1rem;
      height: 4.65rem;

      &-title {
        font-size: 1rem;
        font-weight: 600;
        list-style: none;
        display: block;
        padding: 1rem 0;
        color: black;

        &:visited,
        &:active,
        &:hover {
          color: black;
        }

        &.dark {
          color: white;
        }
      }
      .center-line {
        border-top: 1px solid rgba(0, 0, 0, 0.155);
        width: 85%;
        margin: 0 auto;
        align-self: center;
      }
    }
    &-line {
      border-top: 1px solid rgba(0, 0, 0, 0.155);
      width: 88%;
      align-self: center;
      margin: 0 auto;

      &.dark {
        border-color: rgba(0, 0, 0, 0.3);
      }
    }
    &-bottom {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding: 1rem;

      &-info {
        display: flex;
        flex-direction: row;
        width: 100%;

        // &-author {
        //   display: flex;
        //   flex-direction: column;
        //   width: 50%;

        //   .author-title {
        //     color: rgba(38, 38, 38, 0.56);
        //     font-size: 12px;
        //     align-self: flex-start;

        //     &.dark {
        //       color: white;
        //     }
        //   }

        //   .author-who {
        //     font-size: 12px;
        //     font-weight: 600;
        //     color: #262626;
        //     display: flex;
        //     align-items: flex-start;
        //     justify-content: flex-start;
        //     padding: 0.5rem 0;
        //     gap: 0.5rem;

        //     .blue-box {
        //       background-color: #0a5e8d;
        //       height: 0.75rem;
        //       width: 1rem;
        //       border: 1px solid #0a5e8d;

        //       &.dark {
        //         background-color: #df060f;
        //         border-color: #df060f;
        //       }
        //     }
        //     &.dark {
        //       color: white;
        //     }
        //   }
        // }
        &-publishedDate {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          width: 100%;

          .published-title {
            color: rgba(38, 38, 38, 0.56);
            font-size: 12px;
            align-self: flex-end;

            &.dark {
              color: white;
            }
          }
          .published-time {
            font-size: 12px;
            font-weight: 600;
            color: #262626;
            align-self: flex-end;
            padding: 0.5rem 0;

            &.dark {
              color: white;
            }
          }
        }
      }
    }
  }
}
