.photoGallerySlider-item {
  
  &-img {
    object-fit: cover;
    width: 100%;
    height: 29rem;
    border-radius: 1rem;
  }
  &-bottom {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    &-info {
      display: flex;
      flex-direction: column;
      &-title {
        font-size: 22px;
        font-family: "Poppins", sans-serif; 
        font-weight: 600;
        padding: .5rem;

        &.dark {
          color: white;
        }
      }
      &-des {
        font-size: 1rem;
        font-family: "Poppins", sans-serif; 

        &.dark {
          color: white;
        }
      }
  }
  }
}