.login-inputs {
        
    .input-area {
      display: block;
      width: 100%;
      height: 2rem;
      padding: 0.5rem;
      background-color: #084e76;
      border: none;
      border-radius: 3px;
      margin-bottom: 0.8rem;

      &::placeholder {
        color: var(--whiteBgColor);
      }
    }

    .submit-btn {
      background-color: #043855;
      display: inline-block;
      margin-top: 1rem;
      width: 100%;
      height: 2rem;
      border: none;
      border-radius: 3px;
      color: var(--whiteBgColor);
      cursor: pointer;
      letter-spacing: 1px;
    }
  }
