.login {
  min-height: 82.6vh;
  display: flex;
  align-items: center;
  justify-content: center;

  &-container {
    // border: 1px solid red;
    width: 40rem;
    height: 40rem;
    display: flex;
    border-radius: 6px;
    overflow: hidden;

    @media screen and (max-width: 768px) {
      padding: 1rem;
    }

    &-left {
      background-color: #043855;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      //   flex: 2;
      flex-basis: 40%;
      padding: 3rem 0;
      text-align: center;
      color: var(--whiteBgColor);

      img {
        // border: 1px solid red;
        width: 10rem;
        display: inline-block;

        @media screen and (max-width: 768px) {
          width: 8rem;
        }
      }

      .h3-btn {
        cursor: pointer;
        margin-top: 2rem;
        font-size: 1.125rem;
      }

      &-bottom {
        p {
          font-size: 0.75rem;

          &:not(:last-child) {
            margin-bottom: 1.5rem;
          }
        }
      }
    }

    &-right {
      //   border: 1px solid red;
      background-color: #0a5e8d;
      //   flex: 3;
      flex-basis: 60%;
      padding: 4rem 3rem;

      @media screen and (max-width: 768px) {
        padding: 3rem 2rem;
      }

      &-auth {
        // border: 1px solid red;
        color: var(--whiteBgColor);
        text-align: center;
        margin-top: 2rem;

        h6 {
          font-size: 0.75rem;
          font-weight: 600;
          letter-spacing: 0.5px;
        }

        &-icons {
          //   border: 1px solid red;
          margin-top: 1rem;
          display: flex;
          justify-content: center;
          gap: 0.5rem;

          span {
            width: 2.5rem;
            height: 2.5rem;
            border-radius: 50%;
            background-color: #fff;
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;

            &:last-child {
              svg {
                font-size: 1.4rem;
              }
            }

            svg {
              color: #000;
              font-size: 1rem;
            }
          }
        }

        .account {
          margin-top: 3rem;
          font-size: 0.75rem;
          font-weight: 500;
          letter-spacing: 0.5px;

          @media screen and (max-width: 768px) {
            margin-top: 2rem;
          }
        }

        .span-btn {
          cursor: pointer;
          color: var(--whiteBgColor);
          font-size: 0.75rem;
          text-decoration: underline;
        }
      }

      .policy {
        margin-top: 6rem;
        text-align: center;
        font-size: 0.65rem;
        color: #fff;
        line-height: 2;

        a {
          color: #fff;
          &.active,
          &.hover {
            color: #fff;
          }
        }

        @media screen and ((min-width: 420px) and (max-width:768px)) {
          margin-top: 2rem;
          font-size: 0.5rem;
        }
        @media screen and (max-width: 419px) {
          margin-top: 1rem;
          font-size: 0.5rem;
        }
      }
    }
  }
}
