.form-wrapper {

  // border: 1px solid blue;

  @media screen and (max-width: 768px) {
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  .city-form {
    width: 728px;
    margin: 2rem auto;
    // display: flex;
    // justify-content: center;
    // gap: .75rem;
    display: grid;
    gap: 2%;
    grid-template-columns: 32% 32% 32%;

    @media screen and (max-width: 768px) {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
      margin: 1rem auto;
    }

    select,
    input {
      // flex: 1;
      border: 1px solid red;
      width: 100%;
      padding: 0.5rem;
      cursor: pointer;
      text-align: center;
      border: 1px solid rgb(118, 118, 118);
      border-radius: 3px;

      @media screen and (max-width:768px) {
         width: 90%;
         margin: 1rem;
      }
    }

    input {
      background-color: transparent;
    }
    .submit-btn {
      background-color: var(--blueBgColor);
      color:white;
      width: 100%;
      padding: 0.5rem;

      @media screen and (max-width:768px) {
        width: 90%;
        margin: 1rem;
      }
    }
  }

  h4 {
    text-align: center;
    margin-bottom: 2rem;
    @media screen and (max-width:768px) {
       padding-inline: .75rem;
        margin-bottom: 1.5rem;
        font-size: .9rem;
    }
  }

  .info-wrapper {
    display: flex;
    flex-direction: column;

    @media screen and (max-width:768px) {
      padding-bottom: 1rem;
    }

    .item {
      width: 60%;
      height: auto;
      margin: 1rem auto;
      display: flex;
      flex-direction: column;
      // gap: .5rem;

      @media screen and (max-width: 768px) {
        width: 80%;
      }

      .upside {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        background-color: silver;
        padding: 0.5rem;

        &-left {
          display: flex;
          width: 40%;
          justify-content: space-between;
          align-items: center;

          h5 {
            text-align: center;

            @media screen and (max-width: 768px) {
              padding-left: 0.5rem;
            }
          }

          .location-icon {
            @media screen and (max-width: 768px) {
              display: none;
            }
          }
          img {
            width: 32px;
            height: 32px;
          }
        }

        &-right {
          display: flex;
          justify-content: space-around;
          align-items: center;
          width: 60%;
          height: 100%;

          @media screen and (max-width: 768px) {
            flex-direction: column;
          }
        }
      }

      .downside {
        display: flex;
        align-items: center;
        gap: 4rem;
        border-top: 1px solid gray;
        padding-top: 0.5rem;
        img {
          width: 32px;
          height: 32px;
          margin-left: 0.5rem;
        }
        p {
          font-size: 1rem;

          @media screen and (max-width:768px) {
              font-size: .8rem;
          }
        }
      }
    }
  }
}

