.videoDetail {
    display: flex;
    flex-direction: column;
    // border: 1px solid red;
    @media screen and (max-width:1170px ) {
      margin-left: 0.5rem;
      margin-right: 0.5rem;

    }

    .title {
      font-size: 22px;
      font-weight: 600;
      padding-top: 2rem;
    }
    
  &-container {
    width: 100%;
    display: grid;
    grid-template-columns: 69% 29%;
    gap: 1rem;
    padding-top: 1rem;

    @media screen and (max-width:1170px ) {
      grid-template-columns: 100%;
    }


    &-video {
      width: 100%;
    }

    &-similarVideos {
      width: 100%;
    }
  }
}
