.iconWrapper {
    border: 1px solid;
    color: black;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;

    &.twitter {
       border-color: #5088F0;
    }
    &.whatsapp {
        border-color: #26C463;
    }
    &.facebook {
        border-color: #3974E3;
    }
    &.mail {
        border-color: #707071;
    }
    &.printer {
        border-color: #00BFA5;
    }

    &-icon {
        font-size: 2rem;
    }
}