.category-headlines {
  // border: 1px solid red;
  padding-top: 2.5rem;

  &-title {
  // border: 1px solid red;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;

  @media screen and (max-width: 420px) {
    flex-direction: column;
    height: 4.5rem;
    margin-bottom: 1.5rem;
  }
  
  h2 {
    font-size: 1.25rem;
    transition: var(--transition);

    &.dark {
      color: #fff;
    }
  }

  .slider-buttons {
    // border: 1px solid red;
    width: 4rem;
    display: flex;
    justify-content: space-between;
    margin-right: .8rem;

    @media screen and (max-width: 420px) {
      width: 20%;
    }
    

    button {
      width: 1.7rem;
      height: 1.7rem;
      border: 1px solid #707070;
      background-color: var(--whiteBgColor);
      display: flex;
      align-items: center;
      justify-content: center;
      color: #48555c;
      border-radius: 3px;
      cursor: pointer;
    }
  } 
}

  &-slider {
    // border: 1px solid red;
    max-width: 51.25rem;

    // .slick-slide {
    //   border: 1px solid red;
    //   margin: 0 5px;
    // }

    .slick-list {
      // margin: 0 5px;
      margin: 0px;
    }
  }
}