.category-headlines-slider-single {    
    // border:1px solid red;
    // height: 12rem;
    width: 14rem !important;
    display: block;
    margin: 0 auto;

    &.visited {
      color: black;
    }

    @media screen and (max-width: 768px) {
      width: 16rem !important;
    }

    @media screen and (max-width: 420px) {
      width: 14rem !important;
    }
    
    .slider-single-img {
      //border: 1px solid red;
      height: auto;
      display: inline-block;
      border-radius: 10px;
      width: 100%;
      aspect-ratio: 1.76 / 1;
      object-fit: cover;
    }

    .slider-content-top {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      flex-direction: row;
      padding-top: .5rem;

      &-left {
        width: 50%;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        gap: .25rem;
        flex-direction: row;
         .disc {
          border: 4px solid var(--blueBgColor);
          // display: flex;
          // align-items: center;
          // justify-content: center;
          width: 0.5rem;
          height: 0.5rem;
          transition: var(--transition);
          background-color: var(--blueBgColor);
         }
         .category {
          // border: 1px solid red;
          font-size: 1rem;
          font-weight: 500;
          color: #095985;
          text-transform: capitalize;
          transition: var(--transition);
    
          &.dark {
            color:var(--redBgColor);
          }
        }
      }
      &-right {
        width: 50%;
        text-align: end;

        .right-date {
          font-size: .75rem;
          color: #095985;

          &.visited {
            color:#095985;
          }
        }
      }
    }

    .slide-content {
      // border: 1px solid red;
      padding: 0;
      margin-top: .5rem;
      font-weight: 600;
      color: var(--textColor);
      transition: var(--transition);

      &.dark {
        color:#fff;
      }
    }
}