.main-fluid {
  //border: 3px solid blue;
  width: 100%;
  // height: calc(100vh - 9.5rem);
  //overflow: hidden;

  @media screen and (max-width:768px) {
    height: auto;
  }

  .cont {
    display: flex;
    height: 100vh;

    @media screen and (max-width:768px) {
      height: auto;
    }
    // gap: 0.5rem;

    .cats {
      //background-color: green;
      // border: 1px solid red;
      width: 18.5%;
      display: flex;
      align-items: center;
      //justify-content: center;
      flex-direction: column;
      height: 100vh;
      //overflow-y: auto;
      //padding: 0.5rem 0;
      //gap: 0.5rem;
      // background-color: rgba(72, 50, 133, 0);
      background-color: rgb(9, 89, 133);
   

      &-background {
        width: 100%;
        display: flex;
        flex-direction: column;
        height: 100%;
        overflow-y: auto;
        padding: 0.5rem 0;
        gap: 0.5rem;
        background-color: rgba(0, 0, 0, 0.4);

        &::-webkit-scrollbar {
          width: 0 !important;
        }

      }

      @media screen and (max-width: 768px) {
        display: none;
      }
    }

    .stors {
      // border: 1px solid red;
      background-color: transparent;
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      //height:100vh;
      width: 81.5%; // GEREKLİ

      @media screen and (max-width: 768px) {
        height: auto;
        width: 100%;
        // height: calc(100vh - 104px);
      }

      .close {
        position: absolute;
        top: 1.5rem;
        right: 3rem;
        z-index: 7777;
        width: 3rem;
        height: 3rem;
        //background-color: white;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;

        @media screen and (max-width: 768px) {
          width: 2rem;
          height: 2rem;
          top: 1rem;
          right: 1rem;
        }

        .icon-close {
          color: white;
        }
      }

      .icon-wrapper {
    
        .icon {
          position: absolute;
          top: 50%;
          z-index: 3000;
          width: 65px;
          height: 65px;
          // background-color: white;
          border-radius: 50%;
          border-color: transparent;
          display: flex;
          align-items: center;
          justify-content: center;
          cursor: pointer;
  
          .icon-direction {
            color: white;
          }
  
          @media screen and (max-width: 768px) {
            display: none;
          }
  
          &.prev {
            left: 5rem;
          }
  
          &.next {
            right: 5rem;
          }
        }
      }

      & > div > div:nth-child(2) {
        display: flex;
        justify-content: center;
        align-items: center;

        img {
          height: 100% !important;
          object-fit: contain;

          @media screen and (max-width:768px) {
            height: 100vh !important;
            aspect-ratio: none;
            object-fit: cover;
          }

        }
        video {
          @media screen and (max-width: 768px) {
            width: 100% !important;
          }
          //height: 1000px;
        }
      }
    }
  }
}
