.all-page {
  // width: 100%;
  display: grid;
  padding-inline: 0.5rem;
  grid-template-columns: 6% 94%;
  margin-bottom: 4rem;

  // border: 1px solid green;

  @media screen and (max-width: 480px) {
    grid-template-columns: 100%;
  }

  .text-part {
    // width: 100%;
    // border: 1px solid red;
    justify-content: flex-start;
    margin-left: 4rem;

    @media screen and (max-width: 600px) and (min-width: 480px) {
      margin-left: 5.2rem;
      font-size: 14px;
    }

    @media screen and (max-width: 480px) {
      grid-template-columns: 100%;
      margin-left: 0rem;
    }

    &.dark {
      color: var(--whiteBgColor);
    }
  }

  .header {
    font-size: 2rem;
    margin-top: 1.5rem;
    margin-bottom: 0.5rem;
    @media screen and (max-width: 600px) {
      font-size: 1.5rem;
    }
  }

  .line {
    border: 1px solid #095985;
    width: 100%;
    margin-bottom: 0.5rem;
  }

  table {
    border-collapse: collapse;
    width: 100%;
  }

  td,
  th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }

  tr:nth-child(even) {
    background-color: #e4e4e4;
  }

  .künye-text {
    text-align: center;
  }
}
$line-color: #095985;
