.allCats {
  width: 100%;
  max-width: 1200px;
  margin: 2rem auto;
  // height: 28.125rem;
  display: flex;
  gap: 1.5rem;
  @media screen and (max-width: 1200px) and (min-width: 768px) {
    padding-inline: 1rem;
  }

  @media screen and (max-width: 768px) {
    padding-inline: 1rem;
    flex-direction: column;

  }

  @media screen and (max-width: 420px) {
    margin: 2rem auto;
  }

  .left-side {
    // border: 1px solid red;
    flex: 791;
    display: flex;
    gap: 1.5rem;

    @media screen and (max-width: 576px) and (min-width: 420px){
      display: grid;
      grid-template-columns: 47% 47%;
      gap: 1.8rem;
      justify-content: center;

    }

    @media screen and (max-width: 420px) {
      display: grid;
      grid-template-columns: 48% 48%;
      gap: 1rem;
    }
}

  .right-side {
    // border: 1px solid red;
    flex: 385;
    display: flex;
    column-gap: 1.5rem;
    row-gap: .5rem;
    flex-flow: row wrap;

    @media screen and (max-width: 768px) and (min-width: 576px) {
      display: grid;
      grid-template-columns: 22.5% 22.5% 22.5% 22.5%;
      column-gap: 1.5rem;
      margin-right: .5rem;
    }

    @media screen and (max-width: 576px) and (min-width: 420px) {
      display: grid;
      grid-template-columns: 30% 30% 30% !important;
      column-gap: 1.5rem;
    }


    @media screen and (max-width: 420px) {
      display: grid;
      grid-template-columns: 48% 48%;
      column-gap: 1rem;
    }
  }
}
