.item {
    // border: 1px solid red;
    height: 100%;

    img {
      width: 100%;
      height: 26rem;

      @media screen and (max-width: 420px) {
        height: 18rem;
      }
    }

    .info {
      // border: 1px solid red;
      margin-top: 0.5rem;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 0.75rem;

      @media screen and (max-width: 768px) {
        margin-top: 0.25rem;
      }

      .disc {
        border: 4px solid #0A5E8D;
        background-color: #0A5E8D;
        width: 0.5rem;
        height: 0.5rem;
        transition: var(--transition);

        &.dark {
          background-color: var(--redBgColor);
          border: 4px solid var(--redBgColor);
        }
      }

      .title {
        text-transform: uppercase;
        font-size: 1.125rem;
        font-weight: 700;
        color: var(--textColor);
        transition: var(--transition);

        @media screen and (max-width: 768px) {
         font-size: 1rem;
        }

        &.dark {
          color: var(--whiteBgColor);
        }
      }
    }
  }