.navbar {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 9.5rem;
  background-color: var(--whiteBgColor);
  transition: var(--transition);

  @media screen and (min-width: 769px) and (max-width: 1200px) {
    width: 100%;
  }

  &.none {
    display: none;
  }

  &.dark {
    background-color: var(--darkBgColor);
  }

  @media screen and (max-width: 1200px) {
    width: 100%;
  }

  &-top-header {
    // border: 1px solid red;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: flex-end;
    // gap: 4%;
    gap: 1rem;
    height: 104px;

    @media screen and (max-width: 768px) {
      align-items: center;
      justify-content: space-between;
      height: auto;
      padding: 0.5rem 1rem 0.5rem 0;
    }

    .logo-link {
      display: inline-block;
      margin: 0 auto;
      align-self: center;
      text-align: center;
    }

    .logo-wrapper {
      // border: 1px solid red;
      flex: 21;
      display: flex;
      align-items: center;

      img {
        //width: 100%;
        height: 72px;
        width: 213px;
        // object-fit: contain;
      }
    }

    .top-right-wrapper {
      // border: 1px solid red;
      padding-top: 0.5rem;
      display: flex;
      flex-direction: column;
      flex: 75;
      width: 100%;
      // gap: 1rem;

      .info-section {
        display: flex;
        height: 2.5rem;

        // .buttons {
        //   display: flex;
        //   align-items: center;
        //   justify-content: space-between;
        //   gap: 1rem;
        //   flex: 17.3;
        // }

        .buttons {
          // border: 1px solid red;
          display: flex;
          align-items: center;
          //justify-content: space-around;
          //padding-left: 2.5rem;
          justify-content: flex-end;
          gap: 0.5rem;
          flex: 17.3;
        }
      }

      .categories {
        position: relative;
        list-style: none;
        display: flex;
        justify-content: space-between;
        height: 100%;
        width: 940px;
        //  width: 100%;
        font-size: 0.8rem;
        gap: 0.5rem;

        @media screen and (max-width: 1200px) {
          width: 100%;
        }

        .link:link,
        .link:visited {
          color: #3e3e3e;
        }

        &-wrapper {
          display: flex;
          align-items: center;
          gap: 1rem;
          box-sizing: border-box;
          // overflow-x: auto !important;
          // overflow-y: hidden;
          // cursor: pointer;

          // &::-webkit-scrollbar {
          //   display: none;
          // }

          .link {
            color: var(--textColor);
            text-transform: capitalize;
            text-decoration: none;
            font-weight: 500;
            font-size: 1rem;

            &-label {
              text-transform: capitalize;
              text-decoration: none;
              font-weight: 500;
              display: inline-block;
              width: max-content;
              font-size: 1rem;

              &.dark {
                color: white;
              }

              &.active,
              &.link,
              &.visited,
              &.hover {
                color: var(--textColor);
              }
            }
          }
        
        .link-fotoGaleri {
          color: var(--textColor);
          text-transform: capitalize;
          text-decoration: none;
          font-weight: 500;
          display: inline-block;
          padding-left: 1rem;
          width: max-content;
          font-size: 1rem;
          cursor: pointer;
          margin: 0 auto;
          text-align: center;
          &.dark {
            color: white;
          }

          &.active,
          &.link,
          &.visited,
          &.hover {
            color: #3e3e3e;
          }
        }
        .menu-navbar {
          .menu-button {
            color: #3e3e3e;
            position: relative;
            text-transform: none;
            font-family: "Poppins";
            font-weight: 500;
            font-size: 1rem;
            &.dark {
              color: white;
            }
          }
  
          .menu {
            position: static;
            &.dark {
              background-color: #1f252b;
            }
            &-container {
               
              &.dark {
                background-color: #3e3e3e;
              }
              &-item {
                background-color: #3e3e3e;
  
                .menu-items {
                  .menu-item {
                    &-link {
                      color: var(--textColor);
                      text-transform: capitalize;
                      text-decoration: none;
                      font-weight: 500;
                      font-size: 1rem;
                      &.dark {
                        color: white;
                      }
  
                      &.active,
                      &.link,
                      &.visited,
                      &.hover {
                        color: var(--textColor);
                      }

                      a {
                        color: #333333;
                        &.dark {
                          color: white;
                        }
                      }
                    }
                  }
                }
              }
            }
          }
          }
        }

        // .link:link,
        // .link:visited {
        //   //  border: 1px solid red;
        //   border-top: 1px solid transparent;
        //   color: var(--textColor);
        //   text-transform: capitalize;
        //   text-decoration: none;
        //   display: flex;
        //   flex-direction: column;
        //   justify-content: center;
        //   gap: 0.5rem;
        //   flex: 1;
        //   font-size: 1rem;
        //   padding-top: 0.3rem;
        //   text-align: center;
        //   font-weight: 500;
        //   transition: border-top 1s ease-in-out;

        //   // &:first-child{
        //   //   text-align: left;
        //   // }

        //   background: linear-gradient(var(--blueBgColor) 0 0) no-repeat
        //     calc(200% - var(--p, 0%)) 100% / 200% var(--p, 0.08em);
        //   transition: 0.3s var(--t, 0s),
        //     background-position 0.3s calc(0.3s - var(--t, 0s));

        //   &:hover {
        //     --p: 100%;
        //     --t: 0.3s;
        //     color: var(--whiteBgColor);
        //     border-top: 4px solid red;
        //     padding-top: 0;
        //   }

        //   &.dark {
        //     color: var(--whiteBgColor);
        //     background: linear-gradient(var(--subBgColor) 0 0) no-repeat
        //       calc(200% - var(--p, 0%)) 100% / 200% var(--p, 0.08em);
        //     transition: 0.3s var(--t, 0s),
        //       background-position 0.3s calc(0.3s - var(--t, 0s));

        //     &:hover {
        //       color: var(--whiteBgColor);

        //       .darkUnderline {
        //         visibility: hidden;
        //       }
        //     }
        //   }

        //   &.active {
        //     // border: 1px solid;
        //     font-weight: 600;
        //     justify-content: flex-end;
        //     gap: 0.75rem;

        //     .underline {
        //       width: 100%;
        //       border: 2px solid var(--blueBgColor);
        //     }

        //     .darkUnderline {
        //       width: 100%;
        //       border: 2px solid #fff;
        //     }
        //   }
        // }

        .link:hover,
        .link:active {
          color: var(--blueBgColor);
          font-weight: 600;
        }
      }

      @media screen and (max-width: 768px) {
        display: none;
      }
    }
  }

  &-sub-header {
    background-color: var(--blueBgColor);
    display: flex;
    justify-content: center;

    width: 100%;
    height: 48px;

    .sub-header-wrapper {
      display: flex;
      width: 100%;
      max-width: 1200px;
      gap: 4%;

      .title {
        background-color: var(--redBgColor);
        color: #fff;
        display: flex;
        align-items: center;
        justify-content: center;
        flex: 11;
        font-size: 1rem;
        font-weight: 600;

        @media screen and (max-width: 768px) {
          font-size: 0.8rem;
        }
      }

      .stories {
        list-style: none;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex: 85;
        color: #fff;

        .disc {
          width: 0.4rem;
          height: 0.4rem;
          background-color: var(--redBgColor);
        }

        li {
          display: flex;
          align-items: center;
          gap: 0.5rem;

          .time {
            font-size: 0.875rem;
            font-weight: 400;
            margin-right: 0.5rem;
          }

          .info {
            font-size: 1rem;
          }
        }
      }
    }
  }

  .menu-icon {
    // border: 1px solid red;

    color: #000;
    cursor: pointer;
    transition: var(--transition);

    &.dark {
      color: var(--whiteBgColor);
    }

    @media screen and (min-width: 768px) {
      display: none;
    }
  }
}
