.img-wrapper {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  width: 50%;
  position: relative;
  aspect-ratio: 9 / 16;
  background-color: rgba(0, 0, 0, 0.5);

  @media screen and (max-width: 768px) {
    width: 100%;
    height: 100vh;
  }

  &-img {
    width: 100%;
    height: 100% !important;
    margin: 0 auto;
    opacity: 0.45;
    padding: 0;
    align-self: center;
    z-index: 1;
    position: relative;
    aspect-ratio: 9 / 16;
    object-fit: contain;

    @media  screen and (max-width:768px) {
      height: auto;
      aspect-ratio: 0;
      object-fit: none;
    }
   
  }

  .info-wrapper {
    z-index: 1000;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: absolute;
    width: 100%;
    top: 60%;
    gap: 1rem;

    @media  screen  and (max-width:768px){
      top: 70%;
    }


    &-title {
      padding-inline: 1rem;
      z-index: 1000;
     // position: absolute;
      width: 100%;
      color: #FFFFFF;
      margin-top: 1rem;
      font-size: 22px;
      font-weight: bold;

      @media  screen  and (max-width:768px){
        font-size: 1rem;
      }
    }

    &-des {
      padding-inline: 1rem;
      z-index: 1000;
      width: 100%;
      font-size: 18px;
      font-weight: normal;
      white-space: wrap;
      color: white;
      padding-top: 0.5rem;

      @media  screen  and (max-width:768px){
        font-size: .75rem;
      }
    }

    &-link {
      font-size: 18px;
      font-weight: bold;
      z-index: 1000;
      color: #FFFFFF;
      margin-left: 1rem;
      //padding-inline: 1rem;
      border-bottom: 2px solid white;
     // text-decoration: underline;

     @media  screen  and (max-width:768px){
      font-size: .75rem;
    }
    }
  }
}
