.mainSlider {
  box-sizing: border-box;
  min-height: 0;
  min-width: 0;
  width: 100%;
  padding: 0;
  margin: 0;

  &-large {
    margin: 0 auto;
    @media screen and (max-width: 768px) {
      display: none;
    }

    &-sliders {
      margin: 0 auto;

      .dots-ul {
        display: flex;
        flex-direction: row;
        align-items: flex-start;

        &-li {
          &:first-child {
            border-bottom-left-radius: 40%;
            button {
              border-bottom-left-radius: 40%;
            }
            .slick-active {
              border-bottom-left-radius: 40%;
            }
          }
        }

        li {
          color: #5c5c5d;
          width: 100%;
          //border: 1px solid #E8E8E8;
          // background-color: white;
          position: relative;
          display: flex;
          height: 27px;
          margin: 0;
          padding: 0;
          cursor: pointer;
          border: 0;

          button {
            width: 100%;
            border-radius: none;
            background-color: white;
            border: 1px solid #e8e8e8;
            font-size: 1rem;
            color: #5c5c5d;
            cursor: pointer;
          }
          &:last-child {
            border-bottom-right-radius: 40%;
          }
        }

        .all-link {
          display: flex;
          align-items: center;
          justify-content: center;
          text-align: center;
          margin: 0 auto;
          color: black;
          width: 100%;
          height: 27px;
          background-color: white;
          border: 1px solid #e8e8e8;

          a {
            margin: 0 auto;
            text-align: center;
          }
          &:last-child {
            border-bottom-right-radius: 40%;
          }
        }
        .slick-active {
          background-color: red;
          button {
            background-color: red;
            cursor: pointer;
            color: white;
          }
        }
      }
    }
  }

  &-med {
    @media screen and (min-width: 769px) {
      display: none;
    }

    &-slidersRes {
      margin: 0 auto;

      .dots-ul {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        //border: 1px solid blue;
        &-li {
          &:first-child {
            border-bottom-left-radius: 40%;
            button {
              border-bottom-left-radius: 40%;
            }
            .slick-active {
              border-bottom-left-radius: 40%;
            }
          }
        }

        li {
          color: #5c5c5d;
          width: 100%;
          //border: 1px solid #E8E8E8;
          // background-color: white;
          position: relative;
          display: flex;
          height: 27px;
          margin: 0;
          padding: 0;
          cursor: pointer;
          border: 0;

          button {
            width: 100%;
            border-radius: none;
            background-color: white;
            border: 1px solid #e8e8e8;
            font-size: .8rem;
            color: #5c5c5d;
            cursor: pointer;
          }
          &:last-child {
            border-bottom-right-radius: 40%;
          }
        }
        .all-link {
          display: flex;
          align-items: center;
          justify-content: center;
          text-align: center;
          margin: 0 auto;
          font-size: .8rem;
          color: black;
          width: 100%;
          height: 27px;
          background-color: white;
          border: 1px solid #e8e8e8;

          a {
            margin: 0 auto;
            text-align: center;
          }
          &:last-child {
            border-bottom-right-radius: 40%;
          }
        }

        .slick-active {
          background-color: red;
          button {
            background-color: red;
            cursor: pointer;
            color: white;
          }
        }
      }
    }
  }
}
