.mainSlider {
  box-sizing: border-box;
  min-height: 0;
  min-width: 0;
  width: 100%;
  padding: 0;
  margin: 0;

  &-large {
    margin: 0 auto;
    @media screen and (max-width: 768px) {
      display: none;
    }

    &-sliders {
      margin: 0 auto;

      .dots-ul {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        //border: 1px solid blue;
        li {
          border: 1px solid #E8E8E8;
          background-color: white;
          position: relative;
          display: flex;
          width: 5%;
          height: 27px;
          margin: 0;
          padding: 0;
          cursor: pointer;

          .all-link {
            display: block;
            text-align: center;
            margin: 0 auto;
            color: black;
          }

          button {
            width: 100%;
            background-color: white;
            border: 0;
            font-size: 1rem;
            color: #5c5c5d;
            cursor: pointer;

          }
          &:first-child {
            border-bottom-left-radius: 40%;
            button {
              border-bottom-left-radius: 40%;
            }
          }
          &:last-child {
            border-bottom-right-radius: 40%;
            display: flex;
            align-items: center;
          }
        }
        .slick-active {
          background-color: red;
          button {
            background-color: red;
            cursor: pointer;
            color: white;
          }
        }
      }
    }
  }

  &-med {
    @media screen and (min-width: 769px) {
      display: none;
    }

    &-slidersRes {
      margin: 0 auto;

      .dots-ul {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        //border: 1px solid blue;
        li {
          border: 1px solid #E8E8E8;
          background-color: white;
          position: relative;
          display: flex;
          width: 7%;
          height: 27px;
          margin: 0;
          padding: 0;
          cursor: pointer;

          .all-link {
            display: block;
            text-align: center;
            margin: 0 auto;
            color: black;
            font-size: 0.8rem;
          }

          button {
            width: 100%;
            background-color: white;
            border: 0;
            font-size: .8rem;
            cursor: pointer;
            color: #5c5c5d;
          }
          &:first-child {
            border-bottom-left-radius: 40%;
            button {
              border-bottom-left-radius: 40%;
            }
          }
          &:last-child {
            border-bottom-right-radius: 40%;
            display: flex;
            align-items: center;
          }
        }
        .slick-active {
          background-color: red;
          button {
            background-color: red;
            cursor: pointer;
            color: white;
          }
        }
      }
    }
  }
}
