.most {
  width: 300px;
  height: 250px;
  border: 0;
   // border: 1px solid red;
    position: relative;
    //height: 18.75rem;
    margin-bottom: 1.875rem;

    iframe {
      width: 300px;
      height: 250px;
      border: none;
      overflow: hidden;
    }

    // img {
    //   width: 100%;
    //   object-fit: cover;
    // }


    &-img {
      width: 100%;
     // height: 100%;
      object-fit: contain;
    }

    // @media screen and (max-width: 768px) {
    //   //height: 24rem;
    // }

    // @media screen and (max-width: 420px) {
    //   height: 15rem;
    // }
  }