.tags {
 //border: 1px solid red;
  margin-top: 1.5rem;

  &-title {
    // border: 1px solid blue;
    font-size: 1.25rem;
    font-weight: 600;
    color: #333333;
    transition: var(--transition);

    &.dark {
      color: #fff;
    }
  }

  &-buttons-wrapper {
    // border: 1px solid blue;
    margin-top: 1rem;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;

    a {
      display: inline-block;
      padding: 0.3rem 0.5rem;
      font-size: 0.75rem;
      border-radius: 3px;
      background-color: transparent;
      color: var(--blueBgColor);
      border: 1px solid var(--blueBgColor);
      transition: var(--transition);

      &.dark {
        color: white;
        border: 1px solid white;
      }
    }
  }
}
