.news-details {
  //border: 1px solid green;
  margin-top: 1.5rem;
  text-align: justify;
  line-height: 1.5;
  transition: var(--transition);

  .content {
    color: inherit !important;
    background-color: inherit !important;
    font-size: 1.125rem !important;
    font-weight: 400 !important;
    text-align: justify !important;
    transition: var(--transition) !important;
    font-family: "Poppins", sans-serif !important;

    span {
      font-family: "Poppins", sans-serif !important;
      font-size: inherit !important;
    }

    & > p,
    & > div,
    & > span {
      font-size: inherit !important;
      background-color: inherit !important;
      color: inherit !important;
      font-family: "Poppins", sans-serif !important;
    }

    &.dark {
      color: #fff !important;

      span {
        color: #fff !important;
      }

      & > p,
      & > div,
      & > span, & > strong {
        font-size: inherit !important;
        background-color: inherit !important;
        color: inherit !important;
        font-family: "Poppins", sans-serif !important;
      }
    }

    & > p,
    & > div,
    & > span {
      font-size: inherit !important;
     // margin-bottom: 0.5rem !important;
      text-align: justify !important;
      font-family: "Poppins", sans-serif !important;
    }

    img,iframe {
      //border: 3px solid red !important;
      aspect-ratio: 1.76/1 !important;
      object-fit: cover !important;
      max-width: 100% !important;
      // z-index: -5;
    }
  }

  .coming-soon {
    margin-top: 2rem;
    text-align: center;
    font-size: 1.25rem;
    font-weight: 600;
    color: #333333;

    &.dark {
      color: #fff;
    }
  }

  .source-title {
    // border: 1px solid green;
    font-size: 1.25rem;
    font-weight: 600;
    color: #333333;
    margin-top: 2rem;
    transition: var(--transition);

    span {
      font-weight: 500;
      font-size: 1rem;
      margin-left: 0.25rem;
    }

    &.dark {
      color: #fff;
    }
  }
}
