.card {
  // border: 1px solid red;
  width: 14rem;
  margin-bottom: 0;
  transition: var(--transition);

  @media screen and (max-width: 768px) {
    width: 10.5rem;
    height: auto;
  }

  @media screen and (max-width: 420px) {
    width: 8.5rem;
  }

  &.dark {
    color: var(--whiteBgColor);
  }

  .card-wrapper {
    // border: 1px solid red;
    width: 14rem;
    margin-bottom: 0;

    .image {
      // border: 1px solid red;
      display: inline-block;
      width: 100%;
      aspect-ratio: 3/2;
      object-fit: cover;
    }
  }

.content {
    // border: 1px solid red;
    margin-top: 0;
    height: 4rem;
    display: flex;
    align-items: center;
    gap: .75rem;
    color: black;

    .title {
      //border: 1px solid red;
      font-size: 1rem;
      font-weight: 600;
      transition: var(--transition);

      &.dark {
        color: var(--whiteBgColor);
      }

      @media screen and (max-width: 420px) {
        font-size: .6rem;
        font-weight: 500;
      }
    }

    .disc {
      border: 4px solid var(--blueBgColor);
      margin-top: 0.1rem;
      width: 0.5rem;
      height: 0.5rem;
      transition: var(--transition);
      background-color: var(--blueBgColor);

      &.dark {
        border: 4px solid var(--redBgColor);
      }
    }
  }
}
