.formalAdv {
  width: 100%;

  &-list {
    display: grid;
    place-items: center;
    place-content: center;
    gap: 1rem;
    grid-template-columns: repeat(4, 1fr);
    padding-top: 1rem;
  
    @media screen and (max-width: 1200px) and (min-width: 876px){
      grid-template-columns: 33% 33% 33% 
    
    }



@media screen and (max-width: 876px) and (min-width: 580px){
  grid-template-columns: 49% 49%

}

@media screen and (max-width: 580px){
  grid-template-columns: 49% 

}


}
}
