.surMansetSlider-item {
  &-image {
    object-fit: cover;
    width: 100%;
    height: 28.125rem;
    aspect-ratio: .86/1;
  }

  .sondakika {
    position: relative;
    &-img {
      width: 100%;
      height: 28.125rem;
      aspect-ratio: .86/1;
      object-fit: cover;
    }
   
    &-wrapper {
      width: 100%;
     // height: 60px;
     // background-color: rgba(0, 0, 0, 0.25);
      position: fixed;
      bottom: 0;
      padding: .2rem;
      box-sizing: border-box;
      color: white;
      text-decoration: none;
      flex-wrap: wrap;
      text-overflow: ellipsis;

      span{
        display: inline-block;
        width: 400px;
        padding: .5rem;
        background-color: rgba(0, 0, 0, 0.25);
      }
    }
  }
}
.surMansetSliderRes-item-image {
  object-fit: cover;
  width: 100%;
  //height: 28.125rem;
  aspect-ratio: .86/1;
}
