.surMansetSlider {
  box-sizing: border-box;
  position: relative;
  min-height: 0;
  min-width: 0;
  width: 100%;
  padding: 0;
  margin: 0;

  @media screen and (max-width: 767px) {
    display: none;
  }

  &-sliders {
    box-sizing: border-box;
  
  .surmanset-swiper .surmanset-swiper-container {
   margin: 0 auto;
  
  .surmanset-swiper-wrapper {
    margin: 0 auto;

    .surmanset-swiper-slide {
      a {
        display: inline-block;
        .surmanset-swiper-slide-image {
          width: 100%;
          height: 28.125rem;
          aspect-ratio: 0.86/1;
          object-fit: cover;
        }
      }
     
    }
  }
}
  }
.surmanset-all-link {
  display: inline-block;
  position: absolute;
  right: 5px;
  width: 14px;
  bottom: 4px;
  font-size: 1rem;
  color: #333333;
  z-index: 2000;
  cursor: pointer;
}
}

.surMansetSliderRes {
  box-sizing: border-box;
  min-height: 0;
  min-width: 0;
  width: 100%;
  padding: 0;
  margin: 0;
  @media screen and (min-width: 768px) {
    display: none;
  }
}
.surmanset-swiper-pagination {
  height: 27px;
  width: 100%;
  display: flex;
 // border: 1px solid #e8e8e8;
  flex-direction: row;
  align-items: flex-start;
  background-color: white;
  padding: 0;
  margin: 0;
  border-bottom: 1px solid #e8e8e8;

}
.surmanset-swiper-pagination-bullet {
  height: 26px;
  width: 36px;
  cursor: pointer;
  font-size: 0.8rem;
  border-left: .5px solid #e8e8e8;
  border-right: .5px solid #e8e8e8;
  color: #333333;
  background-color: white ;
  border-radius: 0%;
  margin-left: 0 !important;
  margin-right: 0 !important;
  gap: 0px;
  opacity: 1;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;

}
.surmanset-swiper-pagination-bullet-inactive-color {
  color: #33333333;
 }
.surmanset-swiper-pagination-bullet-active {
  background-color: red;
  color: white !important;
  border-left: none;
  border-right: none;
}
.all {
  cursor: pointer;
  text-align: center;
  margin: 0 auto;
  display: flex;
  align-self: center;
}
.all-manset {
  position: absolute;
  color: #333333;
}
.swiper-slide-image {
  width: 100%;
  height: 28.125rem;
  aspect-ratio: 0.86/1;
  object-fit: cover;
}