.menu-item-link {
  color: #333333;
  text-decoration: none;

  &:active,
  &:visited,
  &:hover,
  &:active {
    color: #333333;
  }
  &.dark {
    color: white;
    text-decoration: none;
    &:active,
    &:visited,
    &:hover,
    &:active {
      color: white;
    }
  }
}
// .link:link,
// .link:visited {
//   //  border: 1px solid red;
//   border-top: 1px solid transparent;
//   color: var(--textColor);
//   text-transform: capitalize;
//   text-decoration: none;
//   display: flex;
//   flex-direction: column;
//   justify-content: center;
//   gap: 0.5rem;
//   flex: 1;
//   font-size: 1rem;
//   padding-top: 0.3rem;
//   text-align: center;
//   font-weight: 500;
//   transition: border-top 1s ease-in-out;

//   // &:first-child{
//   //   text-align: left;
//   // }

//   background: linear-gradient(var(--blueBgColor) 0 0) no-repeat
//     calc(200% - var(--p, 0%)) 100% / 200% var(--p, 0.08em);
//   transition: 0.3s var(--t, 0s),
//     background-position 0.3s calc(0.3s - var(--t, 0s));

//   &:hover {
//     --p: 100%;
//     --t: 0.3s;
//     color: var(--whiteBgColor);
//     border-top: 4px solid red;
//     padding-top: 0;
//   }

//   &.dark {
//     color: var(--whiteBgColor);
//     background: linear-gradient(var(--subBgColor) 0 0) no-repeat
//       calc(200% - var(--p, 0%)) 100% / 200% var(--p, 0.08em);
//     transition: 0.3s var(--t, 0s),
//       background-position 0.3s calc(0.3s - var(--t, 0s));

//     &:hover {
//       color: var(--whiteBgColor);

//       .darkUnderline {
//         visibility: hidden;
//       }
//     }
//   }

//   &.active {
//     // border: 1px solid;
//     font-weight: 600;
//     justify-content: flex-end;
//     gap: 0.75rem;

//     .underline {
//       width: 100%;
//       border: 2px solid var(--blueBgColor);
//     }

//     .darkUnderline {
//       width: 100%;
//       border: 2px solid #fff;
//     }
//   }
// }
