.card {
  width: 13.5rem;
  margin: 0 auto;
  padding: 0;
  transition: var(--transition);

  &.dark {
    color: var(--whiteBgColor);
  }

  .card-wrapper {
    margin: 0 auto;

    .image {
      display: inline-block;
      width: 100%;
      aspect-ratio: 3/2;
      object-fit: cover;
      border-radius: 10px;
    }
  }

  .content {
    margin-top: 0;
    height: 6rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.75rem;
    color: black;

    &-top {
      width: 100%;

      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-around;

      padding-top: 0.5rem;

      &-left {
        width: 50%;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        gap: 0.25rem;
        flex-direction: row;

        .disc {
          border: 4px solid var(--blueBgColor);
          //  margin-top: 0.1rem;
          display: flex;
          align-items: center;
          justify-content: center;
          width: 0.5rem;
          height: 0.5rem;
          transition: var(--transition);
          background-color: var(--blueBgColor);

          &.dark {
            border: 4px solid var(--redBgColor);
          }
        }
        &-category {
          color: #095985;
          font-size: 11px;
          text-transform: capitalize;

          &.dark {
            color: white;
          }
        }
      }
      &-right {
        width: 50%;
        color: #095985;
        font-size: 11px;
        text-align: end;
        margin: o auto;

        &-time {
          width: 100%;
          padding-right: 0.5rem;

          &.dark {
            color: white;
          }
        }
      }
    }
    &-bottom {
      width: 100%;
      .title {
        font-size: 15px;
        font-weight: 500;
        transition: var(--transition);

        &.dark {
          color: var(--whiteBgColor);
        }

      }
    }
  }
}
