.sliderContainer {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 2.25rem 1.25rem;

  @media screen and (max-width: 420px) {
    padding-inline: 1rem;
  }

  &-title {
    font-size: 1.5rem;
    font-weight: 600;
    padding: 1.25rem 0.5rem;
    display: inline-block;
    color: #262626;

    &.dark {
      color: white;
    }
  }

  &-tags {
    // border: 1px solid red;
    display: flex;
    align-items: flex-start;
    gap: 1rem;
    width: 100%;
    padding-bottom: 1rem;

    .tag-btn {
      border: none;
      color: #727272;
      cursor: pointer;
      padding: 0.5rem;
      background-color: inherit;
      color: #727272;

      &.dark {
        background-color: inherit;
        color: white;
      }

      &:focus {
        color: white;
        border-radius: 40px;
        padding: 0.5rem;
        border-color: #005587;
        font-weight: 600;
        background-color: #005587;
        &.dark {
          background-color: #df060f;
          border-color: #df060f;
        }
      }

      &:hover {
        color: white;
        border-radius: 40px;
        padding: 0.5rem;
        border-color: #005587;
        font-weight: 600;
        background-color: #005587;
        &.dark {
          background-color: #df060f;
          border-color: #df060f;
        }
      }
    }
  }

  &-slides {
    // border: 1px solid red;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
