.allCategoriesPagesCards {
  padding-top: 2rem;


  @media screen and (max-width: 599px) {
    padding-top: 1rem;
  }

  h3 {
    font-weight: 600;
    font-size: 1.25rem;
    color: #333333;

    &.dark {
      color: white;
    }

    @media screen and (min-width:700px) and (max-width:769px) {
      padding-left: 2rem;
    }

    @media screen and (max-width: 599px) {
      text-align: center;
      font-size: 1.35rem;
    }
  }

  &-list {
    padding-top: 1rem;
    display: grid;
    grid-template-columns: 24% 24% 24% 24%;
    place-items: center;
    //place-content: center;
    gap: 1rem;

    @media screen and (min-width:900px) and (max-width:1199px){
      grid-template-columns: 32% 32% 32%;
    }

    @media screen and (min-width:600px) and (max-width:899px) {
      grid-template-columns: 49% 49%;
    }
    @media screen and (max-width:599px) {
      grid-template-columns: 100%;
    }

    .dark {
      background-color: #1f252b;
    }

    
  }
}
