.footer {
  // border: 1px solid red;
  width: 100%;
  height: 34.375rem;
  background-color: #085587;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: var(--transition);

  @media screen and (max-width: 768px) {
    height: auto;
    padding-inline: 4rem;
  }

  @media screen and (max-width: 420px) {
    padding-inline: 2rem;
  }

  &.dark {
    background-color: var(--subBgColor);
  }

  &.none {
    display: none;
  }

  &-fluid {
    // border: 1px solid red;
    width: 100%;
    max-width: 1200px;
    height: 30.375rem;
    

    @media screen and (max-width: 768px) {
      height: auto;
    }

    &-logo {
      height: 7rem;
      display: flex;
      border-bottom: 1px solid gray;
      // padding-bottom: 1rem;


      img {
        width: 14.625rem;
        height: 3.5rem;
        margin-top: auto;
        align-items: flex-end;
      }
    }

    &-info {
      // border: 1px solid red;
      height: 20.625rem;
      padding-top: 1.5rem;
      // display: flex;
      gap: 3.5rem;
      display: grid;
      grid-template-columns: 75% 20%;
      
      @media screen and (max-width: 845px) and (min-width: 768px) {
        margin-bottom: 2.2rem;
      }

      @media screen and (max-width: 1140px) and (min-width: 768px) {
        grid-template-columns: 70% 20%;
      }


      @media screen and (max-width: 768px) {
        height: auto;
        display: flex;
        flex-direction: column;
        margin-bottom: 30px;

        // padding-inline: 2rem;
      }

      .info-left {
        // border: 1px solid red;
        width: 100%;

        a {
          color: #fff;
        }





        &-caption {
          // border: 1px solid red;
          width: 100%;
          height: 2.75rem;
          background-color: #0a456c;
          padding-inline: 1rem;
          color: white;
          font-size: 1.125rem;
          transition: var(--transition);
          display: grid;
          align-items: center;
          grid-template-columns: 2fr 2fr 1fr;
          // border: 1px solid red;

          @media screen and (max-width: 768px) {
            font-size: 1rem;
          }

          @media screen and (max-width: 420px) {
            font-size: 0.85rem;
            grid-template-columns: 1fr 1fr 1fr;
            padding-inline: 0.1rem;

          }




          &.dark {
            background-color: var(--darkBgColor);
          }
        }

        &-categories {
          // border: 1px solid yellow;
          padding: 0.625rem 1rem;
          height: 100%;
          width: 100%;
          color: white;
          font-size: 0.75rem;
          font-weight: 500;
          display: grid;
          grid-template-columns: 2fr 2fr 1fr;

          @media screen and (max-width: 420px) {
            font-size: 0.75rem;
            grid-template-columns: 1fr 1fr 1fr;
            padding-inline: 0.1rem;

          }

          .left-cat {
            width: 100%;
            
          }

          .mid-cat,
          .right-cat {
            width: 100%;
          }

          .left-cat-list,
          .mid-cat-list {
            // border: 1px solid red;
            list-style: none;
            display: grid;
            grid-template-columns: 7.5rem 7.5rem;


            @media screen and (max-width: 845px) {
              display: flex;
              flex-direction: column;
            }

            @media screen and (max-width: 420px) {
              display: flex;
              flex-direction: column;
            }

            li {
              margin-bottom: 0.8rem;
            }
          }

          .right-cat-list {
            // border: 1px solid green;
            list-style: none;
            display: inline-block;

            li {
              margin-bottom: 0.8rem;
            }
          }
        }
      }

      .info-right {
        // border: 1px solid red;
        width: 100%;

        @media screen and (max-width: 768px) {
          margin-bottom: 1.5rem;
        }

        &-icons {
          // border: 1px solid red;
          height: 7.5rem;
          font-size: 12px;
          font-weight: 600;
          color: #fff;
          margin-bottom: 1.25rem;

          @media screen and (max-width: 768px) {
            display: flex;
            flex-direction: column;
            align-items: center;
            height: auto;
            margin-bottom: 0.5rem;
          }

          .follow,
          .load {
            margin-bottom: 1.25rem;

            @media screen and (max-width: 768px) {
              margin-bottom: 1rem;
            }
          }

          .media {
            margin-bottom: 2.25rem;
            height: 1.75rem;
            display: flex;
            gap: 1rem;

            svg {
              width: 1.75rem;
              height: 1.75rem;
              color: var(--whiteBgColor);
            }

            @media screen and (max-width: 768px) {
              margin-bottom: 1rem;
            }
          }
        }

        .logos {
          // border: 1px solid red;

          @media screen and (max-width: 768px) {
            display: flex;
            justify-content: center;
            gap: 0.5rem;
          }
        }

        .apple,
        .google {
          // border: 1px solid red;
          margin-bottom: 0.75rem;

          @media screen and (max-width: 768px) {
            width: 40%;
          }

          @media screen and (max-width: 420px) {
            width: 80%;
          }

          img {
            width: 100%;
          }
        }
      }
    }

    &-kunye {
      // border: 1px solid red;
      list-style: none;
      height: 1.375rem;
      margin-bottom: 1.4rem;
      padding-left: 0.625rem;
      display: flex;
      align-items: center;
      font-size: 0.75rem;
      font-weight: 500;
      color: #fff;
      gap: 1rem;


      @media screen and (max-width: 768px) {
       padding-left: 0;
       justify-content: space-between;
      }

      @media screen and (max-width: 520px) {
        height: auto;
        display: grid;
        grid-template-columns: 1fr 1fr;
       }

      li {
        // border: 1px solid red;
        display: flex;
        align-items: center;
        height: 100%;

        &:last-child {
          span {
            display: none;
          }
        }
      }

      span {
        width: 1rem;
        height: 80%;
        border-right: 1px solid;
        align-self: center;

        @media screen and (max-width: 768px) {
          display: none;
        }
      }
    }
  }

  &-bottom {
    // border: 1px solid red;
    width: 100%;
    background-color: #0a456c;
    height: 5.375rem;
    text-align: center;
    color: var(--whiteBgColor);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: var(--transition);

      @media screen and (max-width: 850px) and (min-width: 768px) {
      margin-top: 1rem;
        }
        @media screen and (max-width: 768px) {
        width: 100%;
        
            }

    &.dark {
      // background-color: var(--subBgColor);
      background-color: var(--darkBgColor);
    }
  }
}
