.containerr {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
  
  button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    border: 1px solid #000;
    background-color: #fff;
    cursor: pointer;
    transition: var(--transition);
    color: #000;
    position: fixed;

    &.dark {
      background-color: var(--darkBgColor);
      border: 1px solid #fff;

      svg {
        color: #fff;
      }
    }
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.3);
    position: fixed;
  }
  
  input[type="search"] {
    width: 0;
    transition: 0.3s;
    border-radius: 5px;
    padding: 0.5rem 0.5rem 0.5rem 0;
    margin-left: -18px;
    font-size: 16px;
    border: none;
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.3);
    outline: none;
    /* transform: translateX(-200px); */

    &.exp-search-show {
        width: 200px;
        padding-left: 0.75rem;
        transform: translateX(-100px);
      }
  }
}