.homeContainer {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  height: 28.125rem;
  transition: var(--transition);
  display: grid;
  //grid-template-columns: 50% 48.66%;
  //grid-template-columns: 69.25% 29.25%;
  //gap: 1.5rem;
   grid-template-columns: 66.18% 32.50%;
   gap: 1.25rem;
   padding-bottom: 1rem;
  //  border: 1px solid red;

   @media screen and (max-width: 1200px) and (min-width: 768px) {
    padding-inline: 1rem ;
  }
  @media screen and (max-width: 768px) {
    // height: 60rem;
    height: auto;
    display: flex;
    flex-direction: column;
    // align-items: center;
    padding-inline: 1rem;
  }

  &.dark {
    color: var(--whiteBgColor);
  }

  .left {
    display: block;
 
    .left-image {
      width: 37.5rem;
      height: 25rem;

      @media screen and (max-width: 768px) {
        width: 100%;
        height: auto;
      }

    img {
      object-fit: cover;
      width: 100%;
      aspect-ratio: 3/2;
      display: inline-block;
    }
  }

    h5 {
      margin-top: 0.75rem;
      font-size: 1rem;
      font-weight: 500;
      color: #333333;
      text-transform: capitalize;
      transition: var(--transition);

      &.dark {
        color: var(--whiteBgColor);
      }
   
      @media screen and (max-width: 768px) {
        font-size: 1.25rem;
        font-weight: 500;
        margin-top: .25rem;
      }

      &:hover {
        color: var(--blueBgColor);
      }
    }
  }

  .right {
    @media screen and (max-width: 420px) {
      width: 100%;
    }

    &-top {
      // border: 1px solid red;
      display: flex;
      // flex: 220;
      // display: grid;
      // grid-template-columns: 32% 63%;
      gap: 0.75rem;
      // height: 13.75rem;

      a:last-child {
        // border: 1px solid red;

        @media screen and (max-width: 420px) {
          display: none;
        }
      }

      @media screen and (max-width: 768px) {
        display: flex;
        justify-content: space-between;
        height: auto;
      }

      @media screen and (max-width: 420px) {
        display: flex;
        flex-direction: column;
      }

      &-left-pic {

        // border: 1px solid red;
        
        @media screen and (max-width: 768px) {
          flex: 35;
        }

        &-wrapper {

          width: 300px;

          img {
            width: 100%;
            object-fit: cover;
            aspect-ratio: 3/2;
  
            @media screen and (max-width: 420px) {
              height: 16rem;
            }
          }
  
        }

        p {
          //border: 1px solid red;
          font-size: 14px;
          margin-top: 0.75rem;
          line-height: 1.2;
          height: 2.5rem;
          color: #000;
          font-weight: 500;
          text-transform: capitalize;
          transition: var(--transition);

          &.dark {
            color: var(--whiteBgColor);
          }

        @media screen and (max-width: 420px) {
          margin-top: .25rem;
          font-size: .75rem;
        }

          &:hover {
            color: var(--blueBgColor);
          }
        }
      }

      &-right-pic {
      //  border: 1px solid red;

        @media screen and (max-width: 768px) {
          flex: 65;
        }

        &-wrapper {

          width: 272px;

        img {
          width: 100%;
          object-fit: cover;
          aspect-ratio: 3/2;
          display: inline-block;
        }
      }
      }
    }

    &-bottom {
      // border: 1px solid red;
      display: flex;
      justify-content: space-between;
      margin-top: 1.5rem;

      @media screen and (max-width: 768px) {
        justify-content: space-between;
      }

      @media screen and (max-width: 420px) {
        flex-direction: column;
        gap: 1rem;
      }

      .news-pic {
        width: 11.5rem;
        // border: 1px solid red;

        @media screen and (max-width: 768px) {
          width: 32%;
        }

        @media screen and (max-width: 420px) {
          width: 100%;
        }

        .img {
          width: 100%;
          object-fit: cover;
          aspect-ratio: 3/2;

          @media screen and (max-width: 420px) {
            height: 16rem;
          }
        }

        p {
          // border: 1px solid red;
          margin-top: 0.5rem;
          font-size: 14px;
          color: #000;
          font-weight: 500;
          text-transform: capitalize;
          transition: var(--transition);

          &.dark {
            color: var(--whiteBgColor);
          }

          @media screen and (max-width: 420px) {
            margin-top: .25rem;
            font-size: .75rem;
          }

          &:hover {
            color: var(--blueBgColor);
          }
        }
      }
    }
  }
}
