.similiarVideos {
  height: 100%;
  padding-bottom: 1rem;

  &-title {
    padding-bottom: 1rem;
    font-size: 19px;
    font-weight: 600;
    padding-bottom: 2rem;
  }

  &-list {
    display: grid;
    grid-template-rows: 33%;
    height: 100%;
    border-color: #707070;
    border-radius: 10px;
    background-color: white;
  }
}
