.similiarVideosCard {
  height: 100%;
  display: inline-block;

  &-container {
    display: flex;
    flex-direction: row;
    padding: 0.5rem;
    background-color: white;
    border-radius: 1rem;

    &.dark {
      background-color: #1f252b;
    }

    &-left {
      width: 50%;
      display: flex;
      align-items: center;
      justify-content: center;

      &-img {
        box-sizing: border-box;
        width: 9.5rem;
        height: 9.5rem;
        border-radius: 16px;
        aspect-ratio: 3.26/2;
        object-fit: cover;
        @media screen and (max-width: 440px) {
          width: 7rem;
          height: 8.5rem;
        }
      }
    }
    &-right {
      width: 50%;
      flex: 1;
      padding: 0.5rem;
      @media screen and (max-width: 1170px) {
        // margin-left: 1.4rem;
      }
      @media screen and (max-width: 876px) {
        margin-left: 1.4rem;
      }

      &-title {
        padding-top: 1rem;
        height: 100px;
        color: #333;

        
        &.dark {
          color: white;
        }

        &.active,
        &.hover,
        &.visited {
          color: #333;
        }
        @media screen and (max-width: 876px) {
          font-size: 14px;
        }
      }
      &-line {
        width: 96%;
        text-align: center;
        padding: 0.25rem 0;
        margin: 0 auto;
        border-bottom: 1px solid rgba(0, 0, 0, 0.155);

        &dark {
          border-bottom-color: white;
        }
      }
      &-date {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        height: 2rem;
        padding-top: 0.75rem;

        @media screen and (max-width: 430px) {
          justify-content: space-around;
        }

        span {
          font-size: 12px;
          color: rgba(38, 38, 38, 0.56);

          &.dark {
            color: white;
          }
        }
      }
    }
  }
  &-line {
    border-bottom: 1px solid rgba(0, 0, 0, 0.155);
  }
}
