.homeCategoryWrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 1202px;
  margin: 0 auto;
  padding: 1rem;
  min-height: calc(100vh - 332px);

  .homeCategoryWrapper_container {
    display: grid;
    grid-template-columns: 24% 24% 24% 24%;
    //place-content: center;
    gap: 1.5rem;

    .dark {
      background-color: var(--darkBgColor);
    }

    @media screen and (min-width: 900px) and (max-width: 1200px) {
      grid-template-columns: 32% 32% 32%;
      place-items: center;
      padding: 1rem 0;
    }

    @media screen and (min-width:620px) and (max-width:899px) {
      grid-template-columns: 49% 49%;
      place-items: center;
      padding: 1rem 0;
    }

    @media screen and (max-width: 619px) {
      grid-template-columns: 100%;
      place-items: center;
      padding: 1rem 0;
    }

    // @media screen and (max-width: 480px) {
    //   grid-template-columns: 100%;
    //   place-items: center;
    // }

    // @media screen and (max-width: 480px) and (min-width: 420px) {
    //   gap: 4rem;
    // }
  }
}
