.categoryContainer {
  width: 100%;
  max-width: 1202px;
  margin: 1rem auto;
  padding: 1rem;
  display: grid;
  grid-template-columns: 32% 32% 32%;
 // place-items: center;
  //place-content: center;
  gap: 1.5rem;
  min-height: calc(100vh - 332px);

  .dark {
    background-color: var(--darkBgColor);
  }

  @media screen and (min-width:768px) and (max-width:1000px) {
    grid-template-columns: 49% 49%;
  }

  @media screen and (max-width:767px) {
    grid-template-columns: 90%;
    padding: 0;
  }

  // @media screen and (max-width: 480px) {
  //   grid-template-columns: 100%;
  //   gap: 1.2rem;
  //   justify-content: center;
  //   font-size: 1rem;
  // }

  // @media screen and (max-width: 480px) and (min-width: 420px) {
  //   gap: 4rem;
  // }
}
