.categoryWrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 1202px;
  margin: 1rem auto;
  padding: 1rem;
  min-height: calc(100vh - 332px);

  .categoryWrapper_container {
    display: grid;
    grid-template-columns: 32% 32% 32%;
    //place-content: center;
    gap: 1.5rem;

    .dark {
      background-color: var(--darkBgColor);
    }

    @media screen and (min-width: 768px) and (max-width: 1000px) {
      grid-template-columns: 49% 49%;
      place-content: center;
    }

    @media screen and (max-width: 767px) {
      grid-template-columns: 90%;
      place-content: center;
      padding: 1rem;
    }

    @media screen and (max-width: 480px) {
      grid-template-columns: 100%;
      gap: 1.2rem;
      place-content: center;
      font-size: 1rem;
    }

    @media screen and (max-width: 480px) and (min-width: 420px) {
      gap: 4rem;
    }
  }
}
